# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Lint commits

on:
  pull_request:
    branches:
      - main

concurrency:
  # each new commit to a PR runs this workflow
  # so we need to avoid a long running older one from overwriting the 'pr-<number>-latest'
  group: "${{ github.workflow }} @ ${{ github.ref_name }}"
  cancel-in-progress: true

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Lint
    runs-on: windows-latest
    steps:
      - name: Disable autocrlf
        shell: pwsh
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          show-progress: false
          fetch-depth: 0

      - name: Get binstall
        shell: pwsh
        working-directory: ${{ env.TEMP }}
        run: |
          $archive="cargo-binstall-x86_64-pc-windows-msvc.zip"
          Invoke-WebRequest "https://github.com/cargo-bins/cargo-binstall/releases/latest/download/${archive}" -OutFile "${archive}"

          Expand-Archive  "./${archive}" -DestinationPath .

          Remove-Item -ErrorAction SilentlyContinue "./${archive}"

          Move-Item -Force ./cargo-binstall.exe ~/.cargo/bin/

      - name: Install cocogitto to get the next version number
        shell: pwsh
        run: |
          cargo binstall --github-token ${{ secrets.GITHUB_TOKEN }} --no-confirm cocogitto --pkg-url "{ repo }/releases/download/{ version }/{ name }-{ version }-{ target }.tar.gz" --bin-dir "{ target }/{ bin }{ binary-ext }" --target x86_64-unknown-linux-musl --pkg-fmt tgz --bin cog --strategies crate-meta-data

      - name: Check the commits
        shell: pwsh
        run: |
          cog check --ignore-merge-commits
