# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Publish crate

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

concurrency:
  group: "${{ github.workflow }}"
  cancel-in-progress: false # last one must win in case of multiple releases

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  repo-has-crate:
    name: Repo publishes crate?
    runs-on: windows-latest
    outputs:
      has_crate: ${{ steps.determine.outputs.has_crate }}

    steps:
      - name: Repo has crate?
        id: determine
        shell: pwsh
        run: |
          has_crate="${{ vars.HAS_CRATE }}"
          echo "has_crate=${has_crate:-false}" >> ${GITHUB_OUTPUT}

  publish-crate:
    name: Publish crate
    runs-on: windows-latest
    environment: release
    permissions:
      id-token: write
    needs:
      - repo-has-crate
    if: |
      fromJSON(needs.repo-has-crate.outputs.has_crate) == true
    steps:
      - name: Disable autocrlf
        shell: pwsh
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: Install cargo-edit to do set-version
        uses: taiki-e/install-action@542cebaaed782771e619bd5609d97659d109c492 # v2.66.7
        with:
          tool: cargo-edit

      - name: Set version in Cargo.toml / Cargo.lock
        shell: pwsh
        id: version
        run: |
          $version="${{ github.ref_name }}"
          # remove v
          $version = $version -replace 'v', ''

          # store
          cargo set-version $version

          git diff

          # debug
          Get-Content -Path Cargo.toml

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - name: Publish
        shell: pwsh
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          # we don't commit the version number in our codebase
          cargo publish --allow-dirty
